/* override 'nice menus' module css 

HTML:#001000
RGB:0  16  0
DARKENED:60%
HTML:#082A00
RGB:8  42  0
DARKENED:50%
HTML:#214305
RGB:33  67  5
DARKENED:40%
HTML:#3B5D1F
RGB:59  93  31
DARKENED:30%
HTML:#547638
RGB:84  118  56
DARKENED:20%
HTML:#6E9052
RGB:110  144  82
DARKENED:10%
HTML:#87A96B
RGB:135  169  107
ORIGINAL
HTML:#A86D6A
RGB:168  109  106
COMPLIMENT
HTML:#8C6AA8
RGB:140  106  168
COMPLIMENT
HTML:#6AA5A8
RGB:106  165  168
ORIGINAL


ul.nice-menu,
ul.nice-menu a,
ul.nice-menu ul,
ul.nice-menu li,
ul.nice-menu-down,
ul.nice-menu-down ul,
ul.nice-menu-down li,
ul.nice-menu li.menuparent,
ul.nice-menu li.menuparent a,
ul.nice-menu li.menuparent a:hover,
ul.nice-menu li.menuparent:hover,
ul.nice-menu li.menuparent:hover a{
    border: 0;
    padding:0;
    margin: 0;
    background-color: transparent;
    background-image: none;
    
}
*/

ul.nice-menu {
    border: 0;
    background-color: none;
    margin-left: 110px;
}

ul.nice-menu li {
    border: 0;
    border-top-width: 0;
    margin-right: 8px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
}

ul.nice-menu li a {
    border: 0;
    border-top-width: 0;
    color: #000;
    font-size: 0.8em;
    line-height: 1.6em;
    text-decoration: none;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
}

ul.nice-menu .menuparent li a {
    border-top-left-radius: 0; 
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
}

ul.nice-menu .menuparent li {
    border-top-left-radius: 0; 
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
}

ul.nice-menu ul {
    border: 0;
    border-top-width: 0;
}

ul.nice-menu ul li {
    width: 20em;
}

ul.nice-menu li a.active {
    color: #000;
    background-color: #fff;
}

ul.nice-menu li a:hover {
    border: 0;
    color: #fff;
    background: #6aa5a8;
}

