/* override 'nice menus' module css  */

ul.nice-menu {
    border: 0;

    background-color: none;
    margin-left: 8px;
}

ul.nice-menu li {
    border: 0;

    border-top-width: 0;
    margin-right: -2px;

    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
}

ul.nice-menu li a {
    border: 1px solid #543a2c;
    
    color: #3e1c0e; 
    font-size: 0.8em;
    line-height: 1.6em;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;

    border-top-left-radius: 10px; 
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
}

ul.nice-menu .menuparent li a {
    background: #bababa;
    border-top-left-radius: 0; 
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
}

ul.nice-menu .menuparent li {
    backround: #bababa;
    border-top-left-radius: 0; 
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
}

ul.nice-menu ul {
    border: 1px solid #c19d8a;
}

ul.nice-menu ul li {
    width: 20em;
}

ul.nice-menu li a:hover {
    color: white;
    background: #6c5b71;
}

ul.nice-menu-down li.menuparent {
    background: #f2e6d9 url("../images/arrow-down.png") right center no-repeat;
}

ul.nice-menu-down li.menuparent a.active {
    color: black;
    background: white;
}

ul.nice-menu-down li.menuparent:hover {
    background: #6c5b71 url("../images/arrow-down.png") right center no-repeat;
}

ul.nice-menu-down li {
    background: #f2e6d9;/*#e0d6d1;*/
}

ul.nice-menu-down li a.active {
    color: black;
    background: white;
}

ul.nice-menu-down li:hover {
    background: #6c5b71;
}

ul.nice-menu-down li li {
    background: #e0d6d1;
}
